/* Basic style for Streamlit */
body {
    background-color: #f2f2f2;
    font-family: 'Segoe UI', sans-serif;
}

/* Style text area */
textarea {
    border: 1px solid #ccc;
    border-radius: 10px;
}